/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/java/com/zz/bill/model/account/UserInfo_LOCAL_15839.java
/src/main/java/com/zz/bill/model/account/UserInfo_BASE_15839.java
/src/main/java/com/zz/bill/model/account/UserInfo_REMOTE_15839.java
/src/main/java/com/zz/bill/model/account/UserInfo_BACKUP_15839.java
